<!DOCTYPE html>
<html lang="en">
<head>
	<title>Кратко</title>
	<meta charset="utf-8">
	<meta description="temlpate code">
	<meta keyword="temlpate, test">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="page">
		<header class="header">
			<div class="header-container">
				<h1>LiSA / Риса Орибэ</h1>
			</div>
		</header>
		<main class="content">
			<div class="content-container">
				<section class="image">
					<div class="image-container">
						<img src="img/ava.jpg" alt="">
					</div>
				</section>
				<section class="activity">
					<h2 id="activity" class="sectionText">О ней</h2>
					<p class="mainText">На данный момент LiSA выпустила: 16 синглов, 4 полноформатных альбома, 2 цифровых сингла, 2 мини-альбома и бэст-альбом. (Как Girls Dead Monster starring LiSA она выпустила 3 сингла и один полноформатный альбом).</p>
				</section>
	</div>
</body>
</html>