<!DOCTYPE html>
<html lang="en">
<head>
	<title>Кратко</title>
	<meta charset="utf-8">
	<meta description="temlpate code">
	<meta keyword="temlpate, test">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="page">
		<header class="header">
			<div class="header-container">
				<h1>LiSA / Риса Орибэ</h1>
			</div>
		</header>
		<main class="content">
			<div class="content-container">
				<section class="image">
					<div class="image-container">
						<img src="img/ava.jpg" alt="">
					</div>
				</section>
				<section class="links">
					<h2 id="links" class="sectionText">Альбомы</h2>
					<ul>
						<li><a href="https://youtu.be/GrzyysAhpZU">2010 - Keep The Beats!</a></li>
						<li><a href="https://youtu.be/CRfznq6YiTw">2011 - Letters to U</a></li>
						<li><a href="https://youtu.be/H9tz1B76pmQ">2012 - Lover"s"mile</a></li>
						<li><a href="https://youtu.be/A29mVR7O1Ho">2013 - Landspace</a></li>
						<li><a href="https://youtu.be/ZlRfD8Nx8PM">2015 - Launcher</a></li>
						<li><a href="https://youtu.be/J3Ds0fW-5_U">2016 - LUCKY Hi FiVE!</a></li>
						<li><a href="https://youtu.be/FdSHWcO11QU">2020 - LEO-NiNE</a></li>
					</ul>
				</section>
	</div>
</body>
</html>