<!DOCTYPE html>
<html lang="en">
<head>
	<title>Кратко</title>
	<meta charset="utf-8">
	<meta description="temlpate code">
	<meta keyword="temlpate, test">
</head>
<body>
	<div class="page">
		<header class="header">
			<div class="header-container">
				<h1>LiSA / Риса Орибэ</h1>
			</div>
		</header>
		<main class="content">
			<div class="content-container">
				<section class="image">
					<div class="image-container">
						<img src="img/ava.jpg" alt="">
					</div>
				</section>
				<section class="brief">
					<h2 id="brief" class="sectionText">Кратко</h2>
					<p class="mainText">Риса Орибэ (яп. 織部 里沙 Орибэ Риса); род. 24 июня 1987, более известна под сценическим псевдонимом LiSA (акроним Love is Same All)) — японская певица и автор песен. В 2011 году подписала контракт с компанией Aniplex, которая сотрудничает с Sony Music Artists. Первоначально, как певица инди-группы, LiSA дебютировала в 2010 году, исполнив песни для аниме сериала Angel Beats! как одна из двух вокалисток вымышленной группы Girls Dead Monster. Она выступала на Animelo Summer Live в августе 2010 г. В апреле 2011 года она начала сольную карьеру и выпустила мини-альбом Letters to U. В январе 2020 года вышла замуж за японского сэйю и вокалиста группы OLDCODEX Тацухису Судзуки.</p>
				</section>
	</div>
</body>
</html>